.divdata1 {
  float: left;
  left: 100px;
  width: 400px;
  height: auto;
  margin: auto auto 50px 100px;
}

.divdata2 {
  display: flex;
  float: right;
  right: 500px;
  width: 400px;
  height: auto;
  margin: 30px 300px auto auto;
}