<html>
    <head>
        <title>LAYOUT-2</title>
        <link rel="stylesheet" href="./layout-2.css">
    </head>
    <body>
        <header>
            <h1 id="h1">MY WEBSITE</h1>
        </header>
        <nav>
            <a  id="a1" href="#Home">Home</a>
            <a id="a2" href="#About Us">About us</a>
            <a id="a3" href="#Services">Servicces</a>
            <a id="a4" href="#Reference">Reference</a>
            <a id="a5" href="#Contacts">Contacts</a>
            </nav>
            <aside>
                <img src="https://tse2.mm.bing.net/th?id=OIP.2KJXpjxlnsh-Ow0mCOV58QHaDt&pid=Api&P=0&h=180" alt="">
            </aside>
            
                <article>
                    <div class="c1">
                    <h1 id="h2">About us</h1>
                    <p>We are a company dedicated to providing excellent service and ensuring customer satisfaction.</p>

                    <p>Our team is made up of experienced professionals who are passionate about their work.</p>
                </div>
                <div class="c2">
                    <h1 id="h3">Welcome to my website</h1>
                    <p>This is a simple HTML layout example with a header, navigation bar, main content area, and footer.</p>
                </div>
                <div class="c3">
                    <h1 id="h4">Our services</h1>
                    <p>We offer a wide range of services to meet your needs:</p>
                    <ul>
                        <a href="#"></a>Service 1:Discription of the service-1
                        <a href="#"></a>Service 2:Discription of the service-2
                        <a href="#"></a>Service 3:Discription of the service-3
                        <a href="#"></a>Service 4:Discription of the service-4
                        <a href="#"></a>Service 5:Discription of the service-5
                        <a href="#"></a>Service 6:Discription of the service-6
                    </ul>
                </div>
               
                <div class="c4">
                    <h1 id="h5">Contact Us</h1>
                    <p>If you have any queeries or would you like to get in touch please contact us</p>
                   
                    <form action="">
                        <td>
                        <label for="sname">Name:</label><br><br>
                        <input type="text" id="sname"><br><br>
                        <label for="email">Email:</label><br><br>
                        <input type="email"><br><br>
                        <label for="qs">Ask any queries</label><br><br>
                        <textarea name="qs" id="qs" rows="6">Type here....</textarea><br><br>
                        <label for="sub" ></label><br><br>
                        <input type="submit" id="sub"  ><br><br>
                    </td>
                    </form>
                </div>
                </article>
                <footer id="footer">
                    <p id="p1">copy rights-@2024 my website</p>
                    <p id="p2">@thejaswini1234@gmail.com-@india</p>
                </footer>
    </body>
</html>