<html>
    <head>
        <title>LAYOUT-1</title>
        <link rel="stylesheet" href="./layout.css">
    </head>
    <body>
        <!-- HEADER SECTION -->
        <div id="parent1">
            <div id="subpar-1">
                <header>
                    <div id="text">
                        <b>Photography</b>
                        <p>Blace and White Templet</p>
                    </div>
                    <nav>
                        <ul>
                            <li>IMAGE LIST</li>
                            <li>IMAGE LIST</li>
                            <li>IMAGE LIST</li>
                            <li>IMAGE LIST</li>
                        </ul>
                    </nav>
                </header>
            </div>
            <!-- parent2 img section  -->
            <div id="parant2">
                <figure>
                    <img  id="img1" src="../LAYOUT/logo.jpeg" alt=" img">
                </figure>
                </div>
            <!-- parent 3small img -->
             <div id="parent3">
                <div id="child1">
                    <figure>
                        <img src="./c1.jpeg">
                    </figure>
                        <figcaption> 
                            <h4><i>Child img</i></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                        </figcaption>
                    
                    </div>
                    <div id="child2">
                        <figure id="f2">
                            <img src="./c2.jpeg">
                        </figure>
                            <figcaption> 
                                <h4><i>Child img</i></h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                            </figcaption>
                            </div>
                        <div id="child3">
                            <figure id="f3">
                                <img src="./c3.jpeg">
                            </figure>
                                <figcaption> 
                                    <h4><i>Child img</i></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                                </figcaption>
                                </div>
                            
                          
                </div>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>