div#parent1 {
    margin: auto;
    width: 900px;
    padding: 10px;
}
div#subpar-1 {
    background-color: black;
    color: white;
    width: 900px;
    margin: auto;
    height: 140px;
    border: 840px;
    padding: 0px;
}
div#text {
    padding: 20px;
    overflow: auto;
    float: left;
    padding-right: 120px;
}
b {
    font-size: 35px;
    margin: 0px;
}
p {
    margin: 0px;
    font-size: 11px;
}
nav {
    overflow: auto;
    width: 500px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline;
    float: left;
    padding: 5px;
    list-style-type: none;
    background: none;
    margin: 20px 1px 0px 10px;
}
div#text {
    padding: 20px;
    overflow: auto;
    float: left;
    padding-right: 120px;
}
div#im {
    width: 900px;
    margin: auto;
}
img#img {
    width: 900px;
    height:200px;
    margin: auto;
}
nav {
    overflow: auto;
    width: 900px;
    margin: auto;
    padding: 10px;
}
.c1 {
    width: 900px;
}
figure {
    width: 210;
    margin: auto;
    float: left;
    padding: 5px 15px 10px 0px;
}
b {
    font-size: 12px;
    margin: 0px;
}
a {
    font-size: 10px;
    float: right;
    color: orange;
}
img {
    width: 100px;
    margin: auto;
}
hr {
    width: 900px;
}
article {
    width: 900px;
    margin: auto;
    overflow: auto;
}
img.p1 {
    width: 270px;
    height: 250px;
    float: left;
    margin: auto;
    padding: 2px 30px 10px 0px;
}
figure.fig {
    width: 500px;
    margin: auto;
}
img.m1 {
    width: 300px;
    float: left;
    padding-right: 40px;
}
figcaption {
    text-align: justify;
    margin: 40px 0px;
}
nav#nav1 {
    width: 100px;
    float: right;
    margin: 0px 120px;
    overflow: auto;
}


footer {
    background-color: black;
    color: white;
    height:50px;
}
div#divf2 {
    width: 200px;
    float: right;
    padding: 20px;
}
div#divf {
    width: 300px;
    padding: 20px;
    float: left;
    overflow: auto;
}
p.fl_left,p.f1_right{
    font-size: 14px;
}p.fl_right {
    font-size: 14px;
}