<html>
    <head>
        <title>LAYOUT-1</title>
        <link rel="stylesheet" href="./layout.css">
    </head>
    <body>
        <!-- HEADER SECTION -->
        <div id="parent1">
            <div id="subpar-1">
                <header>
                    <div id="text">
                        <b>Basic 88</b>
                        <p>Free HTML website Templet</p>
                    </div>
                    <nav>
                        <ul>
                            <li>ITEM LIST</li>
                            <li>ITEM LIST</li>
                            <li>ITEM LIST</li>
                            <li>ITEM LIST</li>
                        </ul>
                    </nav>
                </header>

            </div>
        </div>
    </body>
</html>