div#subpar-1 {
    background-color: black;
    color: white;
    width: 800px;
    margin: auto;
    height: 140px;
    border:840px;
    padding:0px;
}
div#parent1 {
    margin: auto;
    width: 800px;
    padding: 10px;
}
div#parent1 {
    margin: auto;
    width: 800px;
    padding: 10px;
}
div#text {
    padding: 20px;
    overflow: auto;
    float: left;
    padding-right: 120px;
}
b {
    font-size: 35px;
    margin: 0px;
}
p {
    margin: 0px;
    font-size: 11px;
}
nav {
    overflow: auto;
    width: 400px;
}
ol {
    padding: 0px;
    margin: auto;
    background-color: rgb(224, 222, 222);
}
li {
    display: inline;
    font-size: 12;
    float: left;
    margin-right: 13px;
    padding: 1px;
    background: gray;
    margin-top: 40px;
}
div#parant2 {
    margin: auto;
    padding: 10px;
}
figure {
    margin: 0px 10px 0px 10px;
    border: 2px;
}
img#img1 {
    padding: 0px 50px 0px 80px;
    width: 600px;
    margin: auto;
    overflow: auto;
}
div#parent3 {
    margin-left: 90px;
    overflow: auto;
}
div#child1 {
    float: left;
    overflow: auto;
}
figure {
    margin: 0px 10px 0px 10px;
    border: 2px;
}
img {
    width: 170px;
    height: 180px;
}
figcaption {
    overflow: auto;
    width: 150px;
}
h4 {
    margin: 10px;
}
p {
    margin: 0px;
    font-size: 11px;
}
h4 {
    margin: 10px;
}
div#child2 {
    float: left;
    overflow: auto;
    padding: 0px 10px;
    margin: 0px 20px;
}
figure {
    margin: 0px 10px 0px 10px;
    border: 2px;
}
img {
    width: 170px;
    height: 180px;
}
figcaption {
    overflow: auto;
    width: 150px;
}
p {
    margin: 0px;
    font-size: 11px;
}
article {
    width: 300px;
    border: 1px;
    margin: 0px 15px 0px 80px;
    float: left;
    overflow: auto;
}
img#jpeg {
    width: 310px;
    height: 250;
}
div#parent4 {
    border: 2px;
    margin: 20px;
}



div#parent5 {
    width: 800px;
    margin: auto;
    overflow: auto;
    background: #0e0101;
}
   ul {
    list-style-type: none;
    padding: 0;
  }
  section ul li {
    line-height: 1;
    border-bottom: 1px solid;
    font-size: 13px;
    color: #756617;
    margin: 9px;
}
li {
    display: inline;
    float: left;
    padding: 1px;
    list-style-type: none;
    background: none;
}
    i {
        color: yellow;
 }
 .sections {
    width: 180px;
    float: left;
    margin-right: 15px;
    overflow: auto;;
  }
 .sections4 {
    width: 180px;
    float: right;
    margin: 0px 16;
}

  div#footerContainer-6 {
    background: #1c0f0f;
    margin: 0;
  }
  footer {
    width: 800px;
    margin: auto;
    overflow: auto;
    background: #686363;
    color: white;
}
  p#rightPara {
    float: left;
    margin: 20;
}
p#leftPara {
    float: right;
    margin: 20;
}



