<html>
    <head>
        <title> layout3</title>
        <link rel="stylesheet" href="./layout3.css">
    </head>
    <body>
        <header>
            <div id="div1">
                <h1>ALL ABOUT CRICKETS</h1>
                <h3>Team india</h3>
            </div>
        </header>
        <div id="im">
            <img  id="img" src="https://tse2.mm.bing.net/th?id=OIP.Pgc6iGrpvRzmTGVywnMeggHaEo&pid=Api&P=0&h=180" alt="">
        </div>
        <nav id="div2">
            <div class="c1">
                <figure>
                    <img src="../DIV/ms.jpg" alt="img">
                    <figcaption>
                        <i><b>Dhoni</b></i><br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
                        <a href="#Read more>>>">Read more>>></a>
                    </figcaption>
                </figure>
            </div>
            <div class="c1">
                <figure>
                    <img src="../DIV/rohith.jpg" alt="img">
                    <figcaption>
                        <i><b>Rohith</b></i><br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
                        <a href="#Read more>>>">Read more>>></a>
                    </figcaption>
                </figure>
            </div>
            <div class="c1">
                <figure>
                    <img src="../DIV/Vitat.jpg" alt="img">
                    <figcaption>
                        <i><b>Virat</b></i> <br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
                        <a href="#Read more>>>">Read more>>></a>
                    </figcaption>
                    </figure>
            </div>
            <div class="c1">
                <figure>
                    <img src="../DIV/KL.jpg" alt="img">
                    <figcaption>
                        <i><b>KL Rahul</b></i> <br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
                       <a href="#Read more>>>">Read more>>></a>
                    </figcaption>
                </figure>
            </div>
        </nav>
        <article>
            <div class="p1">
                <img src="../DIV/jadeja.jpg" alt="img">
                <i><b>Jadeja</i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
            </div>
            <div class="p1">
                <img src="../DIV/Hardik Pandya.jpg" alt="img">
                <i><b>Hardik</b></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi.</p>
            </div>
        </article>
        <aside>
            <div id="ply-6">
                <h3>Intresting News</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae optio quas illo eos dicta amet inventore dolores reiciendis animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum tempora dolor dolore? Saepe dolore accusantium odio, maxime architecto sunt nulla voluptate ut nobis corrupti laudantium aut necessitatibus quod nihil? Voluptatum.</p>
            </div>
        </aside>
        <main>
            <div id="main">
                <table>
                    <tr>
                        <td><i><a href="#Link-1"></a></i></td>
                        <td><i><a href="#Link-2"></a></i></td>
                        <td><i><a href="#Link-3"></a></i></td>
                        <td><i><a href="#Link-4"></a></i></td>
                        <td><i><a href="#Link-5"></a></i></td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>