<html>
    <head>
        <title>LAYOUT-1</title>
        <link rel="stylesheet" href="./layout.css">
    </head>
    <body>
        <!-- HEADER SECTION -->
        <div id="parent1">
            <div id="subpar-1">
                <header>
                    <div id="text">
                        <b>Photography</b>
                        <p>Black and White Templet</p>
                    </div>
                    <nav>
                        <ul id="listul">
                            <li><label for=""></label> 
                             <select name="list" id="list" style="width:54px">
                              <option>Image List</option>
                              <option>color</option>
                              <option>White and black</option>
                              <option>HD</option>
                             </select></li>
                            <li><label for=""></label> 
                              <select name="list" id="list" style="width:54px">
                               <option>Image List</option>
                               <option>color</option>
                               <option>White and black</option>
                               <option>HD</option>
                              </select></li>
                            <li><label for=""></label> 
                              <select name="list" id="list" style="width:54px">
                               <option>Image List</option>
                               <option>color</option>
                               <option>White and black</option>
                               <option>HD</option>
                              </select></li>
                            <li><label for=""></label> 
                              <select name="list" id="list" style="width:54px">
                               <option>Image List</option>
                               <option>color</option>
                               <option>White and black</option>
                               <option>HD</option>
                              </select></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <!-- parent2 img section  -->
            <div id="parant2">
                <figure>
                    <img  id="img1" src="../LAYOUT/logo.jpeg" alt=" img">
                </figure>
                </div>
            <!-- parent 3small img -->
             <div id="parent3">
                <div id="child1">
                    <figure>
                        <img src="./c1.jpeg">
                    </figure>
                        <figcaption> 
                            <h4><i>Child img</i></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                        </figcaption>
                    
                    </div>
                    <div id="child2">
                        <figure id="f2">
                            <img src="./c2.jpeg">
                        </figure>
                            <figcaption> 
                                <h4><i>Child img</i></h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                            </figcaption>
                            </div>
                        <div id="child3">
                            <figure id="f3">
                                <img src="./c4.jpeg">
                            </figure>
                                <figcaption> 
                                    <h4><i>Child img</i></h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quos velit. Iure obcaecati magnam sit repudiandae fugiat, autem eum voluptas!</p>
                                </figcaption>
                            </div>
                        </div>
                        <!-- parent-4 -->
                <div id="parent4">
                    <article>
                      <h2>Indonectetus facilis leo nibh</h2>
                      <p>
                        This is a W3C compliant free website template from
                        <a href="#">OS Templates</a>. For full terms of use of this template
                        please read our <a href="#">website template licence</a>.
                      </p>
                      <p>
                        You can use and modify the template for both personal and commercial
                        use. You must keep all copyright information and credit links in the
                        template and associated files. For more HTML5 templates visit
                        <a href="#">free website templates</a>.
                      </p>
                      <p id="anchor"><a href="#">Read More »</a></p>
                    </article>
                    <aside>
                      <img  id="jpeg" src="./c3.jpeg" alt="" />
                    </aside>
                  </div>
                  <!--  container-5 -->
                  <div id="parent5">
                    <section>
                      <div class="sections">
                        <h5><em class="ital">FIRST IMG</em></h5>
                        <ul>
                          <li>Lorem ipsum dolor sit</li>
                          <li>Amet consectetur</li>
                          <li>Praesent vel sem id</li>
                          <li>Curabitur hendrerit est</li>
                          <li>Sed a nulla urna</li>
                        </ul>
                      </div>
                      <div class="sections">
                        <h5><em class="ital">SECOND IMG</em></h5>
                        <ul>
                          <li>Lorem ipsum dolor sit</li>
                          <li>Amet consectetur</li>
                          <li>Praesent vel sem id</li>
                          <li>Curabitur hendrerit est</li>
                          <li>Sed a nulla urna</li>
                        </ul>
                      </div>
                      <div class="sections">
                        <h5><em class="ital">THIRD IMG</em></h5>
                        <ul>
                          <li>Lorem ipsum dolor sit</li>
                          <li>Amet consectetur</li>
                          <li>Praesent vel sem id</li>
                          <li>Curabitur hendrerit est</li>
                          <li>Sed a nulla urna</li>
                        </ul>
                      </div>
                      <div class="sections4">
                        <h5><em class="ital">LINK BLOCK</em></h5>
                        <ul>
                          <li>Lorem ipsum dolor sit</li>
                          <li>Amet consectetur</li>
                          <li>Praesent vel sem id</li>
                          <li>Curabitur hendrerit est</li>
                          <li>Sed a nulla urna</li>
                        </ul>
                      </div>
                    </section>
                  </div>
      <!-- footer -->
      <div id="footerContainer-6">
        <footer>
          <p id="rightPara">
            Copyright © 2024 - Photography -India 
          </p>
          <p id="leftPara">Black and white images</p>
        </footer>
      </div>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>