form{
    background-color: aqua;
    width:500px;
    height:30px;
    padding:20px;
  }
  body{
    font-size: 30px;;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  div{
    width:600px;
  }
  div h1{
    background-color: wheat;
    border:1px solid ;
    text-align: center;
  }
   div table {
    color:rgb(198, 10, 10);
    margin:50px;
  }
  div table thead tr th{
   
    width:500px;
    height:100px;
  }
  div table thead tr:nth-child(odd){
    background-color: rgb(75, 212, 119);
  }
  
  
  