/* this is by using the id selector */
h1{
    color:rgb(221, 25, 25);

}

/* class selectors */
.c2{
    color:green;
}

/* space ,separator values */
body  #h1,#h2{
    color:blue;
}
div#h1,div#h2{
    color:magenta;
}
div #p #h3{
    color:purple;
}

/* space separators for value class */
.even,.odd{
    color:rgb(0, 17, 255);
}

/* using 2 at a time */
article #div,.cls{   /* but #div ,(ie #div space) and space id( #div) are not acceptable in div.*/
    background-color:aqua;
}

/* <!-- space separators are not allowed with actuval  meaning --> */
.cls1 {
    background-color: yellow;
    color:black;
}
